body{
    background-color: rgb(49, 88, 192);
    display: grid;
}
main{
    grid-template-rows: 1fr 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "leftHalf rightHalf";
    display: grid;

}
table{
    width: 78%;
    height: 75%;
    margin: 5% auto;
}
tr, td {
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    height: 20px;
    padding: 10%;
    background-color: #FFFEDF;
    font-size: 1.5em;
}
header{
    height: 15vh;
    border-bottom: black 5px solid;
    background-color: rgba(49, 88, 192, 0.3);
}
footer{
    grid-area: footer;
    height: 2em;
}
h1{
    text-align: center;
    font-size: 4em;
}
li{
    border: 1px black solid;
    padding: 5px;
    margin: 0 auto;
}
button{
    padding: 0 auto;
    margin: 0 auto;
    font-size: 1.3em;
    height: 50px;
    background-color: #FFFEDF;
}
img{
    height: 75px;
    width: 75px;
    margin: 0 auto;
    padding: 3%;
}
ul{
    grid-area: word;
    list-style: none;
    font-size: 40px;
    letter-spacing: .25em;
    font-weight: 600;
}
h2{
    text-decoration: underline;
    grid-area: level;
    font-size: 45px;
}
.left-half{
    grid-area: leftHalf;
}
.right-half{
    grid-area: rightHalf;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 25% 1fr 10%;
    grid-template-areas: "level"
                         "eggs"
                         "word"
                         "buttons";
    display: grid;
    margin: 0 10%;
}
.lives{
    grid-area: eggs;

}
.level-up-visible{
    visibility: hidden;
}
.buttons{
    grid-area: buttons;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "retry hint quit";
    width: 100%;
}
#retry{
    grid-area: retry;
    border: orange 2px solid;
}
#hint{
    grid-area: hint;
    border: darkgrey 2px solid;
}
#quit{
    grid-area: quit;
    border: orangered 2px solid;
    background-color: rgba(196, 193, 130, 0.728);

}